body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  background-color: rgb(109, 99, 99);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

#page-logo h1 a {
  font-weight: 900px;
  color: rgb(233, 147, 67);
  margin: 0 1.25rem;
}

header nav ul {
  display: flex;
  margin: 0 1.25rem;
}

header nav li {
  padding: 0.625rem;
}

header nav a {
  color: rgb(233, 147, 67);
  border-radius: 3px;
}

header nav a:hover {
  background-color: rgb(233, 147, 67);
  color: black;
}

.menu_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 3rem;
  padding: 1rem 1rem;
  display: none;
}

.menu_btn span {
  width: 3rem;
  height: 3px;
  background-color: white;
}

#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}


#side-drawer header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(29, 26, 27);
}

#side-drawer ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}

#side-drawer li {
  margin: 1rem auto;
}

#side-drawer a {
  color: rgb(253, 239, 213);
  font-size: 2rem;
}

main {
  text-align: center;
}

#hero h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

#one ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0;
  gap: 1rem;
  width: 50%;
}

#one li {
  margin: 0 1.25rem;
  background-color: rgb(233, 147, 67);
  overflow: hidden;
  border-radius: 5px;
}

#one li:hover {
  background-color: white;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-content img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.hero-content h2 {
  font-size: 100%;
}

.cart a {
  margin-bottom: 0.625rem;
  background-color: white;
  padding: 0.32rem;
  display: inline-block;
  border-radius: 3px;
}

.cart a:hover {
  background-color: black;
  color: white;
}

@media (max-width: 48rem) {
  #one ul {
    grid-template-columns: 100%;
  }

  .menu_btn {
    display: flex;
  }

  #side-drawer:target {
    display: block;
  }
  
  #hero h2 {
    font-size: 1.5rem;
  }

  header nav {
    display: none;
  }
}
